# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/

# PyInstaller
*.spec

# SQLite (if you add later)
*.db

# Misc
*.swp